*{
    font-family: Arial, Helvetica, sans-serif;
}
/* navbar style */
#mainheader{
    padding: 0;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

#keys{
    display: flex;
    align-items: center;
}
#keys p{
    color: white;
    padding: 0;
    margin: 0;
}
#logo+div{
    margin-left: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1000px;
}
#icons{
    display: flex;
    width: 220px;
    margin-right: 10px;
    justify-content: space-evenly;
}
#logo{
    margin-left: 20px;
    width: 130px;
    height: 80px;
}
#search,
#user,
#bag{
    width: 35px;
    height: 35px;
}

/* top section */

#top{
    width: 30%;
    margin: auto;
    text-align: center;
}

/* sort filter section */

#sort-filter{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-evenly;
}
#sort-filter select{
    display: block;
    border: none;
}

/* mid section */

#mid h3{
   text-align: center;
}
#mid+div{
    display: flex;
    width: 60%;
    margin: auto;
    margin-top: 130px;
    justify-content: space-evenly;
}
#mid+div img{
    display: block;
    width: 30px;
    height: 30px;
    margin: auto;
}
#mid+div p{
    font-size: 14px;
}

/* bottom section */

#bottom div{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-evenly;
}
#bottom>h5{
    text-align: center;
}
#bottom div p{
    font-size: 13px;
}

/* footer style */

#footer{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
#footer p{
    font-weight:550;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#footer>div{
    width: 23%;
}
#firstf input{
   width: 90%;
   border: 0.1px solid black;
}
.secondf p{
   text-align: center;
}
#lastf p{
    text-align: center;
}
#footer+hr+p{
    font-size: 11px;
    margin-left: 22px;
}

/* products section */

#mensProd{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    width: 95%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}
.mainDiv img{
    width: 100%;
}
.mainDiv h5{
    text-align: center;
}
.mainDiv p{
    text-align: center;
    margin: 0;
    padding: 0;
    margin: 5px;
    font-size: 14px;
}
.mainDiv p:nth-child(5){
    color: green;
}
.mainDiv button{
    display: block;
    margin: auto;
    color: #1a4e8a;
    border: 2px solid #1a4e8a;
    padding: 5px 15px;
    border-radius: 3px;
}
.mainDiv button:hover{
    background-color: #1a4e8a;
    color: white;
}
