*{
    font-family: Arial, Helvetica, sans-serif;
}
/* navbar section */
#navbar{
   display: flex;
   width: 80%;
   margin: auto;
   justify-content: space-between;
   align-items: center;
}
#navbar img{
    display: block;
}
#navbar img:nth-child(1){
    width: 50px;
    height: 50px;
}
#navbar img:nth-child(2){
    width: 130px;
    height: 80px;
}
#navbar+hr+h5{
    text-align: center;
}

/* review and pay section */

#main{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
}
#review{
    width: 65%;
}
.side{
    width: 26%;
}

/* sidebar section */

/* payment section */

#payment{
    /* width:70%; */
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f6f6f6;
    margin-bottom: 40px;
}
#payment>div>div{
    display: flex;
    align-items: center;
    height: 70px;
}
#payment>div img{
    margin-left: 20px;
    display: block;
    width:100px;
}
#payment>div h4{
    margin-left: 20px;
}
#payment>h5{
    padding-top: 20px;
}



/* summary section */

#summary{
    /* width:70%; */
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f6f6f6;
}

#summary>h5:nth-child(1){
    padding-top: 10px;
    text-align: center;
}
#summary>div{
    display: flex;
    justify-content: space-between;
}
#summary>button{
    width: 100%;
    display: block;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
#summary>div>div>img{
    width: 80px;
    height: 50px;
}

/* footer section */

#footer{
    display: flex;
}
#footer>div{
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
}
#footer p{
    font-size: 14px;
}
#footer>div img{
    width: 60px;
}